.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(230 230 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  background-color: white;
}

.card img {
  width: 150px;
}

.card1 {
  padding-top: 55px;
}

.card3 {
  padding-top: 40px;
}

@media (max-width: 900px) {
  .card {
      margin-bottom: 15px;
  }
}
